html {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;

  @include media($large-desktop) {
    font-size: rem(16);
  }

  @include media($desktop) {
    font-size: rem(16);
  }

  @include media($tablet) {
    font-size: rem(14);
  }

  @include media($mobile) {
    font-size: rem(14);
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  @include transition(all .2s ease-in-out);
}

.wrap {
  @include outer-container;
  padding: em(20);
}

.welcome-article {
  background: #1976D2;
  color: #fff;
  @include media($desktop-x) {
    height: 100vh;
  }

  @include media($tablet) {
    padding: em(20);
  }

  @include media($mobile) {
    padding: em(20);
  }

  p {
    font-size: em(20);
  }
}

.welcome-article__content {
  @include media($desktop-x) {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    text-align: center;
  }
}

.welcome-calendar {
  text-transform: uppercase;
  font-weight: 600;
  color: #FFEB3B;
}

.color-signature {
  @include media($desktop-x) {
    position: absolute;
    bottom: 0;
    clear: both;
    margin: 30px auto 0;
    width: 100%;
    min-height: 4px;
    background: #000;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0.25, #008AFA), color-stop(0.25, #FF002B), color-stop(0.5, #FF002B), color-stop(0.5, #FFAA00), color-stop(0.75, #FFAA00), color-stop(0.75, #00A754) );
    background-image: -o-linear-gradient(right, #008AFA 25%, #FF002B 25%, #FF002B 50%, #FFAA00 50%, #FFAA00 75%, #00A754 75%);
    background-image: -moz-linear-gradient(right, #008AFA 25%, #FF002B 25%, #FF002B 50%, #FFAA00 50%, #FFAA00 75%, #00A754 75%);
    background-image: -webkit-linear-gradient(right, #008AFA 25%, #FF002B 25%, #FF002B 50%, #FFAA00 50%, #FFAA00 75%, #00A754 75%);
    background-image: -ms-linear-gradient(right, #008AFA 25%, #FF002B 25%, #FF002B 50%, #FFAA00 50%, #FFAA00 75%, #00A754 75%);
    background-image: linear-gradient(to right, #008AFA 25%, #FF002B 25%, #FF002B 50%, #FFAA00 50%, #FFAA00 75%, #00A754 75%);
  }
}

.gdg-logo {
  width: 100%;
}

.google-developers__logo {
  width: 500px;
  margin: auto;
}

.big-title {
  font-size: rem(40);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.other-article {
  @include media($desktop-x) {
    height: 500px;
  }
}